* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: seashell;
    color: navy;
}
/* Header Style Start */
header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 35px;
    font-family: 'Courier New', Courier, monospace;
}
header a {
    text-decoration: none;
    color: navy;
}
header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}
header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    margin: 0 10px;
}
/* Header Style End */
/* Hero Style Start */
.hero {
    background-image: url("../images/hero-bg.jpg");
    display: flex;
    background-size: cover;
    height: 400px;
    flex: 1;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-around;
}
.hero h2 {
    color: seashell;
    font-family: 'Courier New', Courier, monospace;
    display: block;
    text-align: right;
    width: 100%;
    padding: 100px 20px 0 0;
}
.hero p {
    display: block;
    width: 100%;
    text-align: right;
    padding: 0 20px 0 0;
}
.hero img {
    width: 222px;
    height: 222px;
}
/* Hero Style End */
/* Content Style Start */
.content {
    display: flex;
}
.content h2 {
    font-family: 'Courier New', Courier, monospace;
    border-right: 3px solid navy;
    width: 25%;
}
.run-buddy {
    background-image: url(../images/tile-1-Run-Buddy.png);
}
/* Content Style End */
